
@{
    ViewData["Title"] = "AboutUs";
}

    <body style="background-color:rgb(28,73,28)">
        <hr />
        <h1 align="center" style="color:white"><b><u></b>GSA Federal Auctions</b></u></h1>
        <h3 align="center" style="color:white">
        </h3>
        <ol>
            <p style="color:white">
                In this project we are aiming to retrieve Auction related data ( i.e. the Seller info, Bidder & item details) using the GSA API.
                You can use the Search listings page to query the data by State, Auction start or end date or using the bid amount set for a particular item
            </p>
            <p style="color:white">
                As we had a single API endpoint to use <a href="http://gsa.github.io/auctions_api/">here</a> is the only URL which you can use to see how the data looks like.
            </p>
        </ol>
        <hr />
        <center>
            <h2 style="color:white">Team members</h2>
            <table class="table" style="color:white">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Information
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Vignesh Ashok Kumar
                        </td>
                        <td>
                            <img src="~/img/1.jpg" />
                        </td>
                        <td>MS BAIS Fall 2018 - Spring 2020</td>
                    </tr>
                    <tr>
                        <td>
                            Sachin Santhosh
                        </td>
                        <td>
                            <img src="~/img/0.jpg" />
                        </td>
                        <td>MS BAIS Spring 2019 - Fall 2020</td>
                    </tr>

                </tbody>
            </table>
        </center>
        <hr />
        <a href="https://github.com/vi-hseng">Link to the GitHub repository for the application</a><br>
        <a href="https://raw.githubusercontent.com/vi-hseng/Assignment_LookAndFeel/master/img/data_model.jpeg">Link to the Data Model for the application</a>
    </body>