
@{
    ViewData["Title"] = "Home";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>HOME</title>
</head>
<body style="background-color:rgb(28,73,28)">
    <div class="main-content" style="color:white !important">
        <p>
            With the help of GSA auctions you can directly query the online federal Auctions database which would provide you with information related to government owned assets across the United States. Best thing about this is, you get seized, surplus or forfeited items that are a part of Federal property for a cheap rate( depending on the bidding amount and reserve amount of the auctions). The best part about this is, anyone can participate in the auctioning ( except for certain federally categorized items ).
            So, if you are really interested in registering for online auctions & if you understand the bidding mechanics well, go ahead and register <a href="https://gsaauctions.gov/html/tutorials/index.html">here</a>.
        </p>
        <img class="bidding" src="~/img/bidjpg.jpg">
    </div>
    <footer>
        <div class="footer-content">
            <small>&copy; 2020 University of South Florida<small></small>
        </div>
    </footer>
</body>
</html>

