
@{
    ViewData["Title"] = "Info";
}
    <body style="background-color:rgb(28,73,28)">
        <div class="main-content" style="color:white">
            <!--<p>This Page provides essential details on how to search for listings based on Auction Items, the number of bidders, the handling agency & the payment methods accepted.</p>
        <p>In addition to that it also details all the information you would want to know before you get into placing your bid</p>-->
            <h3>AUCTIONING BASICS</h3>
            <p>
                Whenever an online auction is conducted,
                the item on sale is provided to the one
                who bids the higest within the <b><i>run length</i></b>(auction deadline) of
                the auction. The <b><i>Bid</i></b> is subject to additional terms and conditions
                provided by the GSA or the Selling Agency. Some listings might have
                a reserve price set to it. This price is a minimum amount which you
                would need to enter an auction. If there is none, then the <b>
                    <i>
                        reserve
                        price
                </b></i> is set to the minimum bid amount. In addition to the Bid amounts
                there is another parameter that controls the bidding activity i.e.
                the <b><i>Inactivity time</b></i>. If the auctioning is subject to an inactivity
                period where there is no bidder to place any higher bid, the auction
                closes after that period automatically.
            </p>

            <h3>RULES, REGULATIONS, TERMS & CONDITIONS</h3>
            <p>
                There are certain things that you ought to keep in mind before placing your bid:
                <ol>
                    <li><b>Export control certifications</b></li>
            <p>Certain categories of property may be subject to the International Trade and Arms Regulation (ITAR). Prospective bidders will be required to accept an Export Control Certification prior to bidding that explains the use, disposition, export and re-export of this property is subject to all applicable United States Laws and Regulations. These include the Arms Export Control Act of 1976, as amended (22 USC 2751, et seq.), the International Traffic in Arms Regulations (22 CFR Parts 120-130), and the Export Administration Regulations (15 CFR Parts 730-774).</p>
            <li><b>SF 114C</b></li>
            <p>Standard Terms and Conditions for the Sale of Government Property (Standard Form 114C, April 2001).</p>
            <li><b>R2 or e-steward certified</b></li>
            <p>Certain electronic items may require that the successful bidder of the auction be either R2 or e-Steward certified at the close of sale. Once the certification is received and certified by the Contracting Officer, the contract will be awarded.</p>
            <li><b>Statement of Intent</b></li>
            <p>Certain categories of property may require a Statement of Intent from the successful bidder of an auction. When the buyer completes this form, the buyer represents and warrants that the ultimate destination, use, and disposition of the property shall be in accordance with the Statement of Intent and/or Statement of Acknowledgement as submitted and approved by the Contracting Officer.</p>

            </ol>
            </p>
            <small>NOTE: All the information presented here is in reference to the overview provided in the <a href="https://gsaauctions.gov/html/tutorials/index.html">tutorials page</a> of GSA Auctions. We would suggest you to visit the site for a much more nuanced info.</small>
        </div>
    </body>
